* { padding: 0; margin: 0; }

html, body {
    height: 100%;
    background:#f3f3f3;
    color: #616f80;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.input-form {
    max-width: 680px;
    margin-top: 80px;
    padding: 20px;
    background-color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

#loginBox {
    width: 400px;
    margin : 10px;
    padding: 10px;
    text-align: center;
}
.input-form-box {
    border: 0px solid #ff0000;
    display: flex;
    margin-bottom: 5px;
}
.input-form-box > span {
    display: block;
    text-align: left;
    padding-top: 5px;
    min-width: 65px;
}
#loginBoxTitle {
    color:black;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 20px;
}
#inputBox {
    margin: 10px;
}
.button-login-box {
    margin-top: 10px;
}
